@model IEnumerable<WebBanHang_Lab3.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách sản phẩm</h1>

<p>
    <a asp-action="Create" class="btn text-white" style="border-color: black; background-color:black">Thêm mới</a>
</p>

    <section style="background-color: #eee;">
        @foreach (var item in Model)
        {
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card text-black">
                            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
                                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100px"
                                 class="card-img-top" alt="Product Im" />
                            <div class="card-body">
                                <div class="text-center">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p class="text-muted mb-4"> @Html.DisplayFor(modelItem => item.Category.Name)</p>
                                </div>
                                <div>
                          
                                    <div class="d-flex justify-content-between">
                                    <span>Mô tả</span><span> @Html.DisplayFor(modelItem => item.Description)</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                        <span>Giá tiền</span><span>@Html.DisplayFor(modelItem => item.Price)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="justify-content-center text-center">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-white" style="border-color: black; background-color:black">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn text-black" style="border-color: black; background-color:white">Xem chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-white" style="border-color: black; background-color:black">Xoá</a>
                </div>
            </div>
        }
    </section>

