@using WebBanHang_Lab3.Areas.Admin
@model IEnumerable<WebBanHang_Lab3.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}
@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Admin View</h1>
        <div class="container py-5">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <a href="@Url.Action("Index", "Product", new { area = "Admin" })" class="btn btn-detail btn-lg">Danh sách sản phẩm</a>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <a href="@Url.Action("Index", "Category", new { area = "Admin" })" class="btn btn-detail btn-lg">Danh sách danh mục</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else{
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-image">
                            <a asp-action="Details" asp-area="Admin" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="150px"></a>
                        </div>
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h5 class="cart-title ellipsis">@Html.DisplayFor(modelItem => item.Name)</h5>
                            </div>
                            <div class="text-center text-muted mb-4">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </div>
                            <h6 class="description mb-3"> @Html.DisplayFor(modelItem => item.Description)</h6>
                            <div class="price mb-3">
                                <span>@item.Price.ToString("#,##0") Vnđ</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row">
                                    <span class="wishlist" title="Yêu thích"><i class="fa fa-heart"></i></span>
                                    <span title="Thêm vào giỏ hàng">
                                        <a asp-controller="ShoppingCart" asp-action="AddToCart"
                                           asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity">
                                            <button class="cart" id="button-no-outline">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="container py-2 text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit mr-2">Chỉnh sửa</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-detail mr-2">Xem chi tiết</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Xoá</a>
                            </div>
                        }
                        else
                        {
                            <div class="container py-2 text-center">
                                | <a asp-area="Admin" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-detail">Xem chi tiết</a> |
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
