@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-login">
        <section>
            <form id="account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="text-center mb-3">
					<p>Đăng nhập với: </p>
					<button type="button" class="btn btn-primary btn-floating mx-1">
						<i class="fa fa-facebook"></i>
					</button>

					<button type="button" class="btn btn-primary btn-floating mx-1">
						<i class="fa fa-twitter"></i>
					</button>

					<button type="button" class="btn btn-primary btn-floating mx-1">
						<i class="fa fa-linkedin-square"></i>
					</button>
					<button type="button" class="btn btn-primary btn-floating mx-1">
						<i class="fa fa-google"></i>
					</button>

					<button type="button" class="btn btn-link btn-floating mx-1">
						<i class="	fa fa-github"></i>
					</button>
				</div>

				<p class="text-center">or:</p>

				<!-- Email input -->
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email" class="form-label">Email</label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>

				<!-- Password input -->
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.Password" class="form-label">Mật khẩu</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>

				<!-- 2 column grid layout -->
				<div class="row mb-4">
					<div class="d-flex justify-content-center align-content-center">
						<!-- Checkbox -->
						<div class="form-check mb-3 mb-md-0 checkbox">
							<label asp-for="Input.RememberMe" class="form-label">
								<input class="form-check-input" asp-for="Input.RememberMe" />
								@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>

					<div class="d-flex justify-content-center align-items-center btn-edit">
						<!-- Simple link -->
						<a id="forgot-password" asp-page="./ForgotPassword">Bạn quên tài khoản?</a>
					</div>
				</div>
				<div class="row justify-content-center align-items-center">
					<!-- Center the content horizontally -->

						<button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

				</div>
				<!-- Submit button -->

				<!-- Register buttons -->
				<div class="text-center btn-edit">
					<p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Tạo tài khoản</a></p>
				</div>
				<div class="text-center btn-edit">
					<p>
						<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại email xác nhận</a>
					</p>
				</div>
            </form>
        </section>
    </div>

			<!--        <h3>Đăng nhập bằng các tài khoản khác.</h3>
            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-facebook"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-linkedin-square"></i>
            </button> 
            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-google"></i>
            </button>
			 -->
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
