@model WebBanHang_Lab3.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết sản phẩm</h1>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="@Model.ImageUrl" width="100px" class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>@Html.DisplayFor(model => model.Name)</h5>

                                <div class="mt-1 mb-0 text-muted small">
                                    <span> @Html.DisplayFor(model => model.Category.Name)</span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                    @Html.DisplayFor(model => model.Description)
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <span></span><br />
                                    <p><h4 class="mb-1 me-1">Giá tiền: <br />@Html.DisplayFor(model => model.Price)</h4></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<div>
</div>
<div class="container py-5">
    <div class="justify-content-center text-center ">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn text-white" style="border-color: black; background-color:black">Chỉnh sửa</a> |
        <a asp-action="Index" class="btn text-white" style="border-color: black; background-color:black">Trở về danh sách</a>
    </div>
</div>